$padding-std: 2%;

html,body{
  max-width: 960px;
  min-height: 100%;
  font-size: 2vw;
  margin: 0 auto;
}
main{
  height: 80%;
}

h1{
  font-size: 6vw;
  text-transform: capitalize;
  font-weight: bold;
  border-bottom: 10px solid #000;
  width:100%;
  padding: $padding-std;
  text-align: center;
  background: #888;
}

h2{
  font-size: 4vw;
  padding: $padding-std;
  text-align: center;
  text-transform: capitalize;
}

footer{
  text-align: center;
  background-color: #444;
  padding: $padding-std;
  width: 100%;
  color: #fff;
}
